@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
/*Body structure*/
body {
    background-color: #B4EBCA;
}
/*Navigation bar structure*/
nav {
    position: fixed;
    background-color: #D3FAC7;
    width: 100vw;
    height: 80px;
    top: 0px;
    left: 0;
    z-index: 1100;
}

/* Positioning for the logo on the navigation bar */
#logo {
    left: 0;
    width: 113px;
    height: 75px;
    right: 680px;
    top: 3px;
}

/* Positioning for the home page on the navigation bar */
#home {
    position: absolute;
    right: 50px;
    top: 26px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

/* Positioning for the about us page on the navigation bar */
#about-us {
    position: fixed;
    left: 850px;
    top: 26px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

/* Positioning for the applications page on the navigation bar */
#contacts {
    position: absolute;
    left: 650px;
    top: 26px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

/* Positioning for the sources page on the navigation bar */
#products {
    position: absolute;
    left: 450px;
    top: 26px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

/*Navigation Bar Items Structure*/
.topnav a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 33px;
}
/*Nagigation Bar Item Animation While Hovered Structure*/
.topnav a:hover {
    color: #0099ff;
    text-align: center;
    text-decoration: wavy;
    font-family: monospace;
}
/*Leaves Image Structure*/
.leaves {
    top: 10px;
    position: relative;
    left: -40px;
    height: 600px;
}
/*Leaves Image Number 2 Structure*/
.leaves2 {
    position: absolute;
    width: 400px;
    height: 600px;
    bottom: 0px;
    right: 0px;
}
/*Contauner Number 1 Structure*/
.container1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 20%;
    top: 30%;
    width: 335px;
    height: 441px;
    border-radius: 40px;
    background: #D3FAC7;
}
/*Bins Image Structure*/
.bins {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
}
/*heading Structure*/
.heading {
    position: absolute;
    color: #000;
    top: 160px;
    left: 70px;
    text-align: center;
    font-family: Smooch Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Paragraph Structure*/
.paragraph {
    position: absolute;
    color: #000;
    top: 270px;
    text-align: center;
    font-family: Smooch Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}
/*Contauner Number 2 Structure*/
.container2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 20%;
    top: 30%;
    width: 335px;
    height: 441px;
    border-radius: 40px;
    background: #D3FAC7;
}
/*heading Number 2 Structure*/
.heading2 {
    position: absolute;
    color: #000;
    top: 160px;
    left: 85px;
    text-align: center;
    font-family: Smooch Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Purifier Image Structure*/
.purifier {
    position: absolute;
    top: 10px;
    left: 90px;
    width: 160px;
}
/*H1 Structure*/
h1 {
    position: absolute;
    top: 100px;
    left: 38%;
    color: #000;

    text-align: center;
    font-family: Smooch Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}