@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
/* BY LUCHEZAR GOSPODINOV */


body {
  background-color: #B4EBCA;
}

nav {
  position: absolute;
  background-color: #D3FAC7;
  width: 99.6vw;
  height: 80px;
  top: 0px;
}

/* Positioning for the logo on the navigation bar */
#logo {
  position: absolute;
  width: 113px;
  height: 75px;
  right: 680px;
  top: 3px;
}

/* Positioning for the home page on the navigation bar */
#home {
  position: absolute;
  right: 50px;
  top: 26px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  text-decoration: none;
}

/* Positioning for the about us page on the navigation bar */
#about-us {
  position: absolute;
  right: 180px;
  top: 26px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-decoration: none;
}

/* Positioning for the applications page on the navigation bar */
#contacts {
  position: absolute;
  right: 350px;
  top: 26px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-decoration: none;
}

/* Positioning for the sources page on the navigation bar */
#products {
  position: absolute;
  right: 530px;
  top: 26px;

  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-decoration: none;
}

.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 33px;
}

.topnav a:hover {
  color: #0099ff;
  text-align: center;
  text-decoration: wavy;
  font-family: monospace;
} 

.Heading1 {

  color: #000;

  text-align: center;
  font-family: Smooch Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.ShortDescription {
  position: absolute;
  width: 403px;
  height: 114px;
  top: 275px;
  left: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 30px;

  word-spacing: 5px;
  font-family: Smooch Sans;
  font-weight: 400;

}

.ShortDescription1 {
  position: absolute;
  width: 403px;
  height: 114px;
  top: 310px;
  left: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 30px;

  word-spacing: 5px;
  font-family: Smooch Sans;
  font-weight: 400;

}

.ShortDescription2 {
  position: absolute;
  width: 403px;
  height: 114px;
  top: 345px;
  left: 389px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 30px;

  word-spacing: 5px;
  font-family: Smooch Sans;
  font-weight: 400;

}

.eclips1 {
  position: absolute;
  width: 125px;
  height: 54px;
  top: 520px;
  left: 570px;
  border-radius: 20vw;
  background-color: #D3FAC7;
  text-align: center;
  font-size: large;
  font-weight: bold;


}

.eclips1 a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.flower-main {
  position: absolute;
  width: 160px;
  height: 420px;
  top: -345px;
  left: -563px;

}

.bag-img {
  position: absolute;
  width: 200px;
  height: 167px;
  top: -432px;
  left: 565px;

}

.bottle-img {
  position: absolute;
  width: 200px;
  height: 167px;
  top: -322px;
  left: 370px;
}

.straws-img {
  position: absolute;
  width: 200px;
  height: 167px;
  top: -212px;
  left: 565px;
}

.zerowaste-img {
  position: absolute;
  width: 200px;
  height: 167px;
  top: -102px;
  left: 370px;
}